.git
.gitignore
.github
.idea
.next
.vscode
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
.env*.local
prisma/dev.db
prisma/dev.db-journal
prisma/test.db
prisma/test.db-journal
coverage
*.log
*.md
README.md
